<div class="preloader">
   <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
</div>

<!-- Fellow
================================================== -->
<section id="team" class="light">

  <div class="page-header text-center">
    <h2><%= @fellow.name %></h2>
  </div>
  <div id="fellow-show" class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="owl-example" class="owl-carousel">
          <div class="item">
            <div class="profile_pic">
            <%= image_tag @fellow.profile_pic%>
            </div>
            <div class="logo">
            <%= image_tag "company_logos_2014/#{@fellow.company_logo}"%>
            <div class="logo-text">
              <h4><%= @fellow.company_name %></h4>
              <h4><%= @fellow.title %></h4>
         
            </div id="social-media">
              <%= social_media_helper %>
            </div>
          </div>
          <section id="featured2" class="featured">
            <div class="container">
              <div class="row">
                <div class="col-sm-8">
                  <p><%= @fellow.bio %></p>
                </div>
              </div>
              <%=link_to "Back to All Fellows", root_path%>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/jquery-1.10.2.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/classie.js"></script>
<script src="/assets/cbpAnimatedHeader.min.js"></script>
<script src="/assets/owl.carousel.min.js"></script>
<script src="/assets/scrollReveal.js"></script>
<script src="/assets/jquery.scrollTo.js" defer="defer"></script>
<script src="/assets/jquery.nav.js" defer="defer"></script>
<script src="/assets/imagesloaded.pkgd.min.js" defer="defer"></script>
<script src="/assets/isotope.min.js" defer="defer"></script>
<script src="/assets/jquery.magnific-popup.min.js" defer="defer"></script>
<script src="/assets/jqBootstrapValidation.js" defer="defer"></script>
<script src="/assets/custom.js"></script>

<script>

  $(document).ready(function(){
    isotope();
  });

</script>


