<div class="preloader">
   <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
</div>

<!-- NAVBAR
================================================== -->
<div id="fellow-nav" class="cbp-af-header">
  <div class="container">

    <!-- Fixed navbar -->
    <div class="navbar cbp-af-inner" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="#current-fellows" class="fellow-nav-text">Current Fellows</a></li>
            <li class="hidden-sm"><a href="#alumnae" class="fellow-nav-text">Alums</a></li>
            <li><a href="#fellow-footer" class="fellow-nav-text">Apply</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Current Students
================================================== -->
<section class="section-content" id = "current-fellows">
  <div class="container">
    <div class="page-header text-center">
      <h2><%=@current_year %> Fellows</h2>
    </div>
      <p class = "col-md-12">Lorem ipsum dolor sit amet, aliquip feugait ius in, animal suscipit liberavisse an sea. Vis iudico possit referrentur ne.Ancillae scribentur vis et. Modus dicta te qui.
      Elitr detracto est ei. Eirmod mandamus ea qui, nam in dictas habemus. Ei his congue aeterno fuisset. Te his melius euismod abhorreant. Quem tale vis ea, quo consul adipisci honestatis in. At cum vero accommodare.</p>
    <div class="row demo-3">
      <div class="grid cs-style-1" data-isotope-options='{ "columnWidth": 200, "itemSelector": ".portfolio-item" }'>
        <% @current_students.each do |fellow| %>
        <div class="col-sm-6 col-md-3 portfolio-item">
          <figure>     
            <!-- Thumb Info -->
            <div class="info">
              <h3><%=fellow.name%></h3>
              <span><%=fellow.title%></span>
            </div>   
            <!-- Thumbnail -->
            <%=image_tag fellow.profile_pic%>
            <!-- Thumb links -->
            <figcaption>


              <a href="fellow/<%=fellow.slug%>" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website">
                <i class="fa fa-external-link"></i>
              </a>
            </figcaption>
          </figure>
        </div>
        <%end%>
      </div>
    </div>
  </div>
</section>

<!-- Alumnae
================================================== -->
<section class="section-content" id="alumnae">
  <div class="container">
    <div class="page-header text-center">
      <h2>Alums</h2>
    </div>


    <div id="filters" class="button-group text-center">
      <button data-filter-value=".fellow" class="active">show all alums</button>

      <%@years.to_a[0..-2].each do |year|%>
        <button data-filter-value=".<%=year%>"><%=year%></button>
        <%end%>
    </div>
    <div class="row demo-3">
      <div  id="portfolio" class="grid cs-style-1" data-isotope-options='{ "columnWidth": 200, "itemSelector": ".portfolio-item" }'>
        <div class="col-md-12 portfolio-item 2012 text"><p class="text-center">
          These five deserve as much credit as anyone for getting CODE2040 off to a great start. Alex, Amy, Chazz, Kaleb, and Yuri made up our pilot class of the CODE2040 Fellows Program. They were amazing interns at their companies and made the most of every networking event, coaching session, and speaker visit over the summer. Their ideas and feedback helped shape the summer program in 2012 and those to come. We're grateful to them for taking a chance on an unknown program and then working tirelessly in the first summer to make it awesome! You can become a Fellow too! Apply at <a href="https://code2040.cerebrotalent.com/">apply.code2040.org.</a></p>
        </div>
        <div class="col-md-12 portfolio-item 2013 text"><p class="text-center">These 18 top computer science students followed in the footsteps of last year's pilot class of five fellows in a 10-week program of mentorship, leadership training, and network development. We were thrilled to have some familiar, and some new <a href="http://code2040.org/partners/">host companies</a> provide the CODE2040 Fellows with the opportunity to work on mission-critical projects.  You can become a Fellow too! Apply at <a href="https://code2040.cerebrotalent.com/">apply.code2040.org.</a></p>
        </div>
        <br>
        <% @alumnae.each do |fellow| %>
          <%if fellow.year == 2012%>
        <div class="col-sm-6 col-md-3 portfolio-item 2012 fellow">
          <%elsif fellow.year == 2013%>
        <div class="col-sm-6 col-md-3 portfolio-item 2013 fellow">
          <%end%>
          <figure>     
            <!-- Thumb Info -->
            <div class="info">
              <h3><%=fellow.name%></h3>
              <span><%=fellow.title%></span>
            </div>   
            <!-- Thumbnail -->
            <%=image_tag fellow.profile_pic%>
            <!-- Thumb links -->
            <figcaption>
              <a href="fellow/<%=fellow.slug%>" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website">
                <i class="fa fa-external-link"></i>
              </a>

            </figcaption>
          </figure>
        </div>
        <%end%>
      </div>
    </div>
  </div>
</section>

<!-- Footer
================================================== -->
<footer id="fellow-footer">

  <div class="container">    
    <div class="row">
      <div class="col-lg-12">
        <div class="col-sm-3 col-md-3">
          <section class="cta text-center">

            <div class="container">
              
              <div class="row">
                <div class="col-lg-12">
                  <h2>Want to be a <%=(@current_year + 1)%> Fellow? <span class="highlight">Apply Now!</span></h2>
                  <a href="https://code2040.cerebrotalent.com/"><button class="btn" url= type="button" role="button">Apply</button></a>
                </div>
              </div>
            </div>
          </section>
        </div>
    </div>
</footer>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/jquery-1.10.2.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/classie.js"></script>
<script src="/assets/cbpAnimatedHeader.min.js"></script>
<script src="/assets/owl.carousel.min.js"></script>
<script src="/assets/scrollReveal.js"></script>
<script src="/assets/jquery.scrollTo.js" defer="defer"></script>
<script src="/assets/jquery.nav.js" defer="defer"></script>
<script src="/assets/imagesloaded.pkgd.min.js" defer="defer"></script>
<script src="/assets/isotope.min.js" defer="defer"></script>
<script src="/assets/jquery.magnific-popup.min.js" defer="defer"></script>
<script src="/assets/jqBootstrapValidation.js" defer="defer"></script>
<script src="/assets/custom.js"></script>

<script>

  $(document).ready(function(){
    isotope();
  });

</script>


