<div class="preloader">
   <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
</div>


<!-- NAVBAR
================================================== -->
<div class="navbar-wrapper cbp-af-header">
  <div class="container">

    <!-- Fixed navbar -->
    <div class="navbar cbp-af-inner" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="/#intro">About</a></li>
            <li><a href="/#projects">Current Fellows</a></li>
            <li class="hidden-sm"><a href="/#team">Alumnae</a></li>
            <li><a href="/#contact">Apply</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Team
================================================== -->
<section id="team" class="dark">

  <div class="page-header text-center">
    <h2><%= @fellow.name %></h2>
    <h3><%= @fellow.year %></h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="owl-example" class="owl-carousel">
          <div class="item">
            <%= image_tag @fellow.profile_pic %>
            <h4><%= @fellow.company_name %></h4>
            <h5><%= @fellow.title %></h5>
            <%= social_media_helper %>
          </div>

          <section id="featured2" class="featured">

            <div class="container">
              <div class="row">
                <div class="col-sm-8 col-sm-offset-1">
                  <p><%= @fellow.bio %></p>
                </div>
              </div>
            </div>

          </section>
 

        </div>
      </div>
    </div>
  </div>

</section>

<!-- Footer
================================================== -->
<footer id="contact" class="footer">
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/jquery-1.10.2.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/classie.js"></script>
<script src="/assets/cbpAnimatedHeader.min.js"></script>
<script src="/assets/owl.carousel.min.js"></script>
<script src="/assets/scrollReveal.js"></script>
<script src="/assets/jquery.scrollTo.js" defer="defer"></script>
<script src="/assets/jquery.nav.js" defer="defer"></script>
<script src="/assets/imagesloaded.pkgd.min.js" defer="defer"></script>
<script src="/assets/isotope.min.js" defer="defer"></script>
<script src="/assets/jquery.magnific-popup.min.js" defer="defer"></script>
<script src="/assets/jqBootstrapValidation.js" defer="defer"></script>
<script src="/assets/custom.js"></script>

<script>

  $(document).ready(function(){
    isotope();
  });

</script>


